/* CSS Document */

body {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12pt;
	background-color: #444444;
}

h1 {
	font-size: 16pt;
	font-weight: bold;
}

h2 {
	font-size: 16pt;
	font-weight: bold;
}

a {
	text-decoration: underline;
	color: #053360;
}

#page {
	min-width: 1024px;
	margin: 0px auto;
	padding-bottom: 80px;
	padding-right: 100px;
	padding-left: 15px;
	background: url(obrazky/back.png) no-repeat bottom right;
}

#main {
	width: 1024px;
	margin: 0px auto;
	background-color: #FFFFFF;
}

#content {
	padding: 20px;
	clear: both;
}

#head {
	height: 250px;
	background: url(obrazky/wvtitle.jpg) bottom;
}

#uvod a{
	width: 300px;
	height: 40px;
	float: left;
	font-size: 30px;
	color: #000000;
	text-decoration: none;
	background: url(obrazky/wvlogo.png) no-repeat;
	position: relative;
	margin: 120px -30px -100px -20px;
	padding: 140px 60px 20px 200px;
}

#lang {
	width: 40px;
	height: 12px;
	margin: 20px;
	overflow: hidden;
	float: right;
}

#lang .cs {
	width: 18px;
	height: 12px;
	background: url(obrazky/flags.png) no-repeat left;
	float: left;
}

#lang .en {
	width: 18px;
	height: 12px;
	background: url(obrazky/flags.png) no-repeat right;
	float: right;
}

#lang span {
	visibility: hidden;
}

#menu {
	width: 1024px;
	float: right;
	background: rgba(204, 204, 204, 0.47);
}

#menu ul {
	list-style: none;
	float: right;
}

#menu li {
	display: list-item;
	float: left;
	margin-right: 20px;
}

#menu li a {
	text-decoration: none;
	font-weight: bold;
}

#menu li a:hover {
	text-decoration: underline;
}

.alt {
	width: 200px;
	margin-left: 20px;
	padding-left: 10px;
	float: right;
	border-left: #E2ECFB 1px solid
}

.alt ul {
	padding-left: 20px;
	list-style-type: square;
}

.alt h2 {
	font-size: 13pt;
	font-weight: bold;
}

.source {
	font-style: italic;
}

table {
	border: #E2ECFB 3px solid;
}

table tr th {
	text-align: left;
}

table .section {
	text-align: center;
	background: url(obrazky/grad1.png) repeat-x;
}

#footer {
	height: 20px;
	background-color: #AAAAAA;
	text-align: right;
	padding: 15px;
}

#footer a {
	color: #FFFFFF;
	font-style: italic;
}